	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Jongkuk	Lee	- "the developer"</h2>
					<p>Hi there,</p>

					<p>My name is Jongkuk Lee. I am studying Computer Programming Developer course at Seneca College of Applied Arts & Technology. My interests are everything related to the up-to-date web technology. It is my goal to become a web programming developer in Canada. This web page is my first work using node.js on Heroku service.</p>

					<p>Enjoy browsing my app!</p>

					<p>Sincerely,</p>
					<p>Jongkuk Lee</p>
					</article>
				</section>
		</div>