<!doctype	html>	
<html>	
    <head>	
        <title>About</title>	
        <link rel="stylesheet" href="css/site.css" type="text/css"	/>
   		<link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" />
    </head>	
<body>
	<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>myApp</h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Jongkuk	Lee	- "the developer"</h2>
					<p>Hi there,</p>

					<p>My name is Jongkuk Lee. I am studying Computer Programming Developer course at Seneca College of Applied Arts & Technology. My interests are everything related to the up-to-date web technology. It is my goal to become a web programming developer in Canada. This web page is my first work using node.js on Heroku service.</p>

					<p>Enjoy browsing my app!</p>

					<p>Sincerely,</p>
					<p>Jongkuk Lee</p>
					</article>
				</section>
		</div>
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <h2>© 2017 - Jongkuk Lee</h2>
			</div>
		</div>
	</div>
   </footer>
</body>
</html>